body {
    background-color: rgb(207, 179, 193);
    font-size: 20px;
}
img {
    width: 100%;
    border: 10px solid beige;
    position: relative;
    width: 50%;
}
.intro {
    color: #583d72;
    margin: 40px solid lightgreen;
}
.intro h2 {
    text-align: center;
    font-size: 60px;

}
.intro ul{
    font-style: italic;
}
.intro ul li{
    text-transform: uppercase;
}
.about {
    color: red;
    background-color: white;
}
.about h3 {
    font-size: 35px;
    color: black;
}
.about p {
    line-height: 30px;
}